
.icon-mail:before { content: '\e800'; } /* '' */
.icon-like:before { content: '\e801'; } /* '' */
.icon-twitter-2:before { content: '\f303'; } /* '' */
.icon-linkedin-2:before { content: '\f31b'; } /* '' */